#page {
  @include grid-row();
  margin-top: 3rem;

  .main-content {
    background: $white;
    padding:40px 20px!important;
    margin-top: 0;
    margin-bottom: 60px;
    position: relative;
    z-index: 20;
    transform: translate(0, 0);
    @include grid-column(12);

    @include breakpoint(medium) {
      padding: 40px!important;
      @include grid-column(11);
    }
    @include breakpoint(large) {
      @include grid-column(8);
    }
  }

}

#blog {
  @include grid-row();
  margin-top: 3rem;

  .main-content {
    position: relative;
    z-index: 20;
    transform: translate(0, 0);
    @include grid-column(12);
  }

}
