#singleTeam {
  .main-content {
    background: $white;
    padding: 40px 20px;
    transform: translate(0, 0);
    h1 {
      font-size: 46px;
      color: darken($dark-gray, 10%);
      letter-spacing: .5px;
    }
    h4 {
      font-size: 13px;
      font-weight: 600;
      color: $medium-gray;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
    blockquote {
      transform: translate(-40px, 0);
      p {
        margin: 0 15px 0;
      }
    }

    @include breakpoint(medium) {
      margin: 60px;
      padding: 80px 40px;
      transform: translate(0, 100px);
    }
    @include breakpoint(large) {
      padding: 80px 40px;
    }
    &.animate-in {
      transition: all 1s ease;
    }
    .social-nav {
      float:left;
      a {
        font-size: 20px;
        color: $light-gray;
		    margin: 0 18px 0 0;
		    &:hover {
		      color: $white;
		    }
      }
    }
  }
  .parallax-bg {
    display: none;
    @include breakpoint(medium) {
      display: block;
    }
  }
}

#archiveTeam {
  .team-grid {
    width: 100%;
    .team-block {
      overflow: hidden;
      position: relative;
      height: 200px;
      .thumbnail-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0; left: 0;
        background: rgba($primary-color, 0.6);
        transition: all 0.5s ease;
        opacity: 0;
        .play {
          height: 50%;
          .columns {
            position: relative;
          }
        }
        span {
          width: 20px;
          height: 20px;
          color: white;
          font-size: 24px;
          text-align: center;
          display: block;
          position: absolute;
          top: 0; left: 0; right: 0; bottom: 0;
          margin: auto;
          opacity: 0;
          transform: scale(0.25, 0.25);
          transition: all 0.5s ease;
          transition-delay: 0.2s;
        }
      }
      .team-meta {
        position: absolute;
        width: 100%;
        height: 34px;
        left: 0;
        bottom: 0;
        margin: 0;
        padding: 8px 0;
        background: rgba($white, 0.9);
        text-align: center;
        transition: all 0.5s ease;
        h2 {
          font-size: 26px;
          margin-bottom: 0;
          transform: translate(0, 75%);
          transition: all 0.5s ease;
          transition-delay: 0.125s;
          @include breakpoint(medium) {
            font-size: 36px;
          }
        }
        h4 {
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 14px;
          font-weight: 800;
          margin-bottom: 0;
        }
      }
      &:hover {
        .thumbnail-overlay {
          opacity: 1;
          span {
            opacity: 1;
            transform: scale(1);
          }
        }
        .team-meta {
          height: 50%;
          padding: 24px 0;
          h2 {
            transform: translate(0, 0);
          }
        }
      }
    } // Close team-Block
  }
}
