#singleWork {
  @include flex-grid-row();
  .main-content {
    background: $white;
    padding:40px 20px!important;
    margin-top: 0;
    margin-bottom: 60px;
    position: relative;
    z-index: 20;
    transform: translate(0, 0);
    @include grid-column(12);

    @include breakpoint(medium) {
      padding: 40px!important;
      margin-top: -60px;
      @include grid-column(11);
      transform: translate(0, 100px);
    }
    @include breakpoint(large) {
      @include grid-column(8);
    }
    &.animate-in {
      transition: all 1s ease;
    }
    .row {
      margin-top: 0;
    }
  }
  .sidebar {
    padding: 20px 40px 60px!important;
    transition: all 0.25s ease;
    div {
      margin-bottom: 24px;
      line-height: 1.7;
      span {
        font-weight: 400
      }
    }
  }
}

.click-to-close {
  cursor: pointer;
}
