html, body {
  height: 100% !important;
  height: auto;
}
body.fixed, body.video-fixed {
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
}
path {
  fill: black;
  transition: fill .5s !important;
}

// Typography
h5 {
  letter-spacing: 1.5px;
  strong {
    font-weight: 600;
  }
}
.upper {
  text-transform: uppercase;
}
a {
  transition: all 0.5s ease-in-out;
}

// buttons
.round {
  border-radius: 100px;
}
.radius {
  border-radius: 3px;
}
.white {
  background-color: $white;
  color: $black;
  &.hollow {
    border-color: $white;
    color: $white;
    background: transparent;
    &:hover {
      background: $white;
      color: $black;
    }
  }
}
.button-jar {
  @include flex();
  @include flex-align(right, middle);
  a {
    flex: 0 1 auto;
    margin-left: 4px;
  }
}

// Image Helpers
.columns img {
  width: 100%;
  height: auto;
}

// Padding
.pad {
  padding: 30px 0;
}
.pad-large {
  padding: 90px 0;
}

// Contrast
.contrast-text {
  color: $white;
}

// Overlay
.container {
  position: relative;
  background: #fafafa;
}
.overlay {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 40;
  height: 100%;
  width: 100%;
  background: rgba($white, 0.8);
  transition: all 0.5s ease;
  &.visible {
    opacity: 1;
	  visibility: visible;
  }
}

// Parallax
.parallax-parent {
  position: relative;
  width: 100%;
  overflow: hidden;
  .parallax-bg {
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover!important;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 0;
    transform: scale(1.2);
    opacity: 0;
    &.animate-in {
      transition: all 0.5s ease;
    }
  }
}


// Markdown classes
$margin: 40px;
#contentBody {
  .content .columns {
    & > p:last-of-type {
      margin-bottom: 0
    }
    & > :only-child {
      margin: $margin 0;
    }
    & > :last-child:not(footer) {
      margin-bottom: $margin!important;
    }
    & > :first-child:not(header) {
      margin-top: $margin!important;
    }
  }
  h1, h2, h3, h4, h5 {
    a {
      cursor: text;
      color: $black;
    }
  }
  h2 {

  }
  h3 {

  }
  h4 {

  }
  p {
    width: 100%;
    margin-bottom: $margin/2;
  }
}
.flex-video {
  margin: 0;
}
.flex-wrap {
  padding: 0!important;
  margin: 0!important;
  .columns {
    @include flex-grid-column(6);
    &:only-child, &:nth-child(3n) {
      @include flex-grid-column(12);
      padding: 0!important
    }
    @include breakpoint(medium) {
      @include flex-grid-column();
      &:only-child, &:nth-child(3n) {
        @include flex-grid-column();
      }
    }
    img {
      width: 100%; height: auto;
    }
  }
}
p + blockquote {
  margin: $margin 0 $margin;
}
blockquote {
  font-style: italic;
  border-left: 6px solid $primary-color;
  margin: $margin 0;
  padding-top: 0;
  p {
    color: $dark-gray;
    font-weight: 600;
    padding: 0;
    font-size: 20px;
    line-height: 28px;
    font-style: normal;
  }
  em {
    color: $medium-gray;
    font-weight: 400;
    font-style: normal;
  }
  strong {
    font-weight: bold;
  }
}

.push-down {
  margin-top: 0!important;
  transition: all 0.25s ease;
}
.sticky-container {
  transition: all 0.5s ease;
}
.push-up {
  margin-top: -87px;
}
.blow-up {
  transform: scale(3)!important;
  opacity: 0!important;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

// Wordpress Logged in classes
// .admin-bar {
//   #masthead {
//     top: 46px;
//     &.unstuck {
//       top: 0!important;
//     }
//
//     @include breakpoint(medium) {
//       top: 32px;
//       &.unstuck {
//         top: 0!important;
//       }
//     }
//   }
// }
